@import "src/index.scss";

.users {
  &__title {
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 40px;
    color: $black-color;
    text-align: center;
  }

  &__wrapper{
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
