@import 'assets/normalize/noramlize.css';

//variables color
$primary-color: rgba(244 224 65);
$secondary-color: rgba(0 189 211);
$background-color: #E5E5E5;
$while: #ffffff;
$color-form: #7E7E7E;
$color-error: #CB3D40;;
$black-color: rgba(0, 0, 0, 0.87);


body {
  background: $background-color;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $black-color;
}


/*//global style class*/

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto 30px;
}

.btn {
  margin: 0 5px;
  border: none;
  border-radius: 80px;
  background-color: $primary-color;
  padding: 4px 29px;
  color: $black-color;
}

.title {
  margin-bottom: 50px;
  font-size: 40px;
  line-height: 40px;
  color: $black-color;
  text-align: center;
}


//animate preloader
.preloader {
  animation: rotate 0.8s infinite linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg);
  }
}


// media adaptiv

@media (max-width: 400px) {
  .btn {
    padding: 4px 25px;
  }
}